.virTable {
    overflow: auto;
    position: relative;
}

.virTable > div {
    position: absolute;
}

.topTable {
    position: absolute;
    z-index: 1;
}

.leftTable {
    position: absolute;
    z-index: 2;
}

.fixedTable {
    position: absolute;
    z-index: 3;
}
